<html ng-app="MyApp">
    <head>
        <title>AngularJS - Tableless</title>
        <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <script>
        	function ListaComprasControll($scope) {
			    $scope.itens = [
			        {produto: 'Leite', quantidade: 2, comprado: false},
			        {produto: 'Cerveja', quantidade: 12, comprado: true}
			    ];
			     $scope.adicionaItem = function () {
				        $scope.itens.push({produto: $scope.item.produto,
				                           quantidade: $scope.item.quantidade,
				                           comprado: false});
				        $scope.item.produto = $scope.item.quantidade = '';
				    };
			}
			var app = angular.module('MyApp', []);
			app.controller('defaultName', function($scope){
				$scope.nome = "William";
			})

		</script>
		<link rel="stylesheet" href="style.css">
    </head>
    <body ng-controller="defaultName">
<div class='content'>
        <input type="text" ng-model="nome">
        <p>Olá, Tableless! Meu nome é: {{ nome }}</p>
        <div ng-controller="ListaComprasControll">
    <table>
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in itens">
          <td><strong>{{ item.produto + ' do ' + nome}}</strong></td>
          <td>{{ item.quantidade }}</td>
        </tr>
      </tbody>
    </table>

    <form class="form-inline" name="formItem">
  <input type="text" ng-model="item.produto">
  <input type="number" ng-model="item.quantidade">
  <button ng-click="adicionaItem()">adicionar ítem</button>
</form>
</div>
    </body>
</html>