/* SCSS */

$color-bg: #f8f8f8;
$color-text: blue;
@mixin borda-redonda($redondamento){
	-webkit-border-radius: $redondamento;
     -moz-border-radius: $redondamento;
      -o-border-radius: $redondamento;
          border-radius: $redondamento;
          padding:$redondamento;
}

body{ background:$color-bg; font-family:arial;}
.content{
	width: 500px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background:#fff;
	@include borda-redonda(20px);

}
p{color:$color-text;}